// --------------------------------------------------
//	Admin: Settings page: Components: TOC
// --------------------------------------------------


.tcres-settings-toc {
	overflow-y: auto;
	max-height: calc(100vh - var(--wp-admin--admin-bar--height, 32px) - 72px);
	border: 1px solid tms-color-var('gray-300');
	border-radius: 8px;
	background-color: tms-color-var('background');

	@media #{$mq-tablet-and-down} {
		max-height: none;
	}


	section {
		padding: 12px 16px;
	}


	a {
		display: block;
		padding-block: 4px;

		&:hover,
		&:focus {
			color: tms-color-var('accent-darker-20');
		}
	}


	h2,
	h3 {
		margin-block: 0;
		font-size: 14px;
		line-height: 1.4;
		color: tms-color-var('gray-900');
	}

	h2 {
		padding: 12px 16px;
		border-bottom: 1px solid tms-color-var('gray-400');
	}

	h3 a {
		color: inherit;

		&:hover,
		&:focus {
			color: tms-color-var('gray-800');
		}
	}


	ul {
		margin-left: 0;
		list-style: none;
	}


	hr {
		margin-block: 0;
	}
}