// --------------------------------------------------
//	Frontend: SVG icon
// --------------------------------------------------


.tcres-svg-icon {
	display: flex;
	align-items: center;
	width: 1em;
	height: 1em;
	background-color: transparent;
	fill: currentColor;

	&.svg-icon-inline {
		display: inline-flex;
	}
}