// --------------------------------------------------
//	Admin: Settings page: Elements: Root
// --------------------------------------------------


.tcres-settings {


	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}


	ul {
		margin: 0 0 0 24px;
		padding: 0;
		list-style: disc;
	}

	li {
		margin: 0;
	}


	input[type="checkbox"] {
		margin: 0;
	}


	[hidden]{
		display: none !important;
	}


	hr {
		margin-block: 12px;
		height: 1px;
		border: none;
		background-color: tms-color-var('gray-200');
	}


	fieldset {
		padding: 8px 16px;
		border-left: 3px solid tms-color-var('gray-400');
	}


	code {
		display: inline-block;
		color: tms-color-var('gray-700');
	}

	pre {
		overflow-x: auto;
		width: fit-content;

		> code {
			display: block;
			margin: 0;
			white-space: pre;
		}
	}
}