// --------------------------------------------------
//	Settings: Constants
// --------------------------------------------------


// Selectors ========================================

$selector--root					: ':root';
$selector--editor--interface	: '.interface-interface-skeleton__body';
$selector--editor--components	: '.components-panel';
$selector--editor--content		: '.is-root-container';