// --------------------------------------------------
//	Tools: Mixins: Bg icon
// --------------------------------------------------
// @include bg-icon( $icon );


@mixin bg-icon( $icon ) {
	background-image: $icon;
	background-repeat: no-repeat;
	background-size: 1em;
}